<div class="jumbotron">
  <h1>Clip-n-Cuts</h1>
  <p class="lead">Hair salon</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Visit us today</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-4">
    <h4>Location</h4>
    <p>
      <address>
      2300 McDermott Rd. #600<br>
      Plano, TX 75025<br>
      <span class="glyphicon glyphicon-earphone"></span> (972) 747-9406
      </address>
    </p>
    <h4>Hours</h4>
    <p>
      Weekdays: 9am - 7pm<br>
      Saturday: 9am - 5pm<br>
      Sunday: 11am - 4pm<br>
    </p>
  </div>

  <div class="col-lg-8">
  <iframe
    width="450"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRSlXUMDyoZ-ZwcbdgoDOOgxHI9jn-gcQ&zoom=12&q=Clip-n-cuts+2300+McDermott+Rd.+Plano,+TX+75025">
  </iframe>
  </div>
</div>
